<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text">Pokedex</span>
        <i class="fas fa-angle-double-right fa-3x"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-sign-in-alt fa-3x"></i>
        <span class="link-text">Login</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-sign fa-3x"></i>
        <span class="link-text">Sign up</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-sign-in-alt fa-3x"></i>
        <span class="link-text">Login</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-sign-in-alt fa-3x"></i>
        <span class="link-text">Login</span>
      </a>
    </li>
  </ul>
</nav>