<div id="wrapper">
  <div id="register">
    <form method="post" id="regForm" action="/users/register">
      <div class="row">
        <div class="input-group">
          <label for="first-name">First Name: </label>
          <input
            name="firstName"
            id="first-name"
            class="register-input"
            type="text"
            placeholder="First Name"
          />
        </div>
        <div class="input-group">
          <label for="last-name">Surname: </label>
          <input
            name="lastName"
            id="last-name"
            class="register-input"
            type="text"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label for="email">Email: </label>
          <input
            name="email"
            id="email"
            class="register-input"
            type="email"
            placeholder="Email Address"
          />
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label for="password">Password: </label>
          <input
            name="password"
            id="password"
            class="register-input"
            type="password"
          />
        </div>
      </div>

      <button class="submit-btn" type="submit">submit</button>
    </form>
  </div>
</div>