body {
  background-color: rgb(152, 152, 209);
  margin: 1rem;
}

#wrapper {
  height: 80vh;
  width: 100%;
}

#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

form {
  display: flex;
  flex-direction: column;
}
