/* 
styling for the checkbox 
credit to https://www.youtube.com/watch?v=cXVbsTT5gU8
*/
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0.2rem;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

/* a checkmark before the label */
input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1rem solid #000;
  border-radius: 1rem;
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  vertical-align: bottom; /* align label text with bottom of checkbox */
  color: transparent;
  transition: ease-in 0.1s;
}

input[type="checkbox"]:checked + label:before {
  background-color: #0fc57c;
  color: #fff;
  border-color: #0fc57c;
}
