.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  list-style-type: none;
}
ul {
  display: flex;
  flex-flow: row wrap;
}

li {
  list-style: none;
  flex-basis: 100%;
  margin-top: 2rem;
}

.todo-item {
  font-size: 2rem;
  display: inline;
}
